.container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.movies{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
